:root {
  --main-color: #10cab7;
  --second-color: #2c4755;
}
body {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.special-header h1 {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-header h1 + p {
  color: #777;
  text-align: center;
  margin-top: -25px;
}
.navbar .container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .container .logo {
  width: 60px;
  height: 25px;
}
@media (min-width: 767px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
.navbar .menu .icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 25px;
  height: 25px;
  flex-direction: row-reverse;
  position: relative;
}
.navbar .menu .icon span {
  height: 2px;
  width: 100%;
  background-color: black;
}
.navbar .menu .icon span:nth-child(2) {
  width: 60%;
  transition-duration: 0.5s;
}
.navbar .menu .icon:hover span:nth-child(2) {
  width: 100%;
}
.navbar .menu .icon ul {
  list-style-type: none;
  position: absolute;
  top: 45px;
  right: 0;
  width: 200px;
  display: none;
}
.navbar .menu .icon:hover ul {
  display: block;
}
.navbar .menu .icon ul::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #f1f1f1 transparent;
  border-width: 15px;
  top: -30px;
  right: 0;
}
.navbar .menu .icon ul li {
  background-color: #f1f1f1;
  padding: 20px;
}
.navbar .menu .icon ul li:not(:last-child) {
  border-bottom: 1px solid #d4d2d2;
}
.navbar .menu .icon ul li a {
  text-decoration: none;
  color: black;
  transition-duration: 0.5s;
}
.navbar .menu .icon ul li:hover a {
  padding-left: 15px;
}
.landing {
  width: 100%;
  height: calc(100vh - 45px);
  background-image: url(imgs/landing.jpg);
  background-size: cover;
  padding: 0;
  margin: 0;
}
.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container .text {
  max-width: 500px;
}
.container .text h1 {
  color: var(--main-color);
  font-size: 57px;
  margin: 0 0 20px;
}
.container .text p {
  font-size: 20px;
  line-height: 1.6rem;
}
.work {
  background-color: #f6f6f6;
}
.work .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.work .container .work-card {
  padding: 10px;
  text-align: center;
}
.work .container .work-card h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 800;
}
.work .container .work-card i {
  font-size: 50px;
  color: var(--main-color);
}
.work .container .work-card p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
  gap: 40px;
}
@media (max-width: 1199px) {
  .cards .services-img {
    display: none;
  }
}
@media (min-width: 767px) {
  .cards {
    padding-left: 50px;
  }
}
@media (max-width: 748px) {
  .cards {
    text-align: center;
  }
  .cards .service-card {
    margin-bottom: 90px !important;
  }
  .cards .service-card i {
    left: 46% !important;
    top: -30% !important;
  }
}
.services .cards .service-card {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.services .cards .service-card i {
  font-size: 30px;
  color: var(--main-color);
  position: absolute;
  left: -50px;
}
.services .cards .service-card h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 800;
}
.services .cards .service-card p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
.services-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.services-img img {
  width: 250px;
  height: 350px;
}
.services-img::after {
  content: "";
  position: absolute;
  width: 80px;
  top: calc(100% - 350px) / 2;
  right: -40px;
  height: 100%;
  background-color: var(--second-color);
  z-index: -1;
}
.portfolio {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio .portfolio-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin-top: 100px;
  gap: 40px;
}
.portfolio .portfolio-cards .card {
  background-color: white;
}
.portfolio .portfolio-cards .card img {
  width: 100%;
}
.portfolio .portfolio-cards .card .card-content {
  padding: 15px;
}
.portfolio .portfolio-cards .card .card-content h3 {
  margin-bottom: 15px;
}
.portfolio .portfolio-cards .card .card-content p {
  line-height: 1.6;
  color: #777;
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .about-img {
  width: 250px;
  height: 375px;
  position: relative;
}
.about .about-content .about-img img {
  width: 100%;
}
.about .about-content .about-img::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
.about .about-content .about-img::before {
  top: -40px;
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #eee;
  z-index: -1;
  left: -20px;
}
.about .about-content .about-text {
  min-width: 300px;
  max-width: 600px;
}
.about .about-content .about-text p:first-child {
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 2;
}
.about .about-content .about-text p:last-of-type {
  color: #777;
  line-height: 2;
}
.about .about-content .about-text hr {
  width: 55%;
  color: var(--main-color);
  margin-bottom: 50px;
}
@media (max-width: 980px) {
  .about-content {
    justify-content: center !important;
    text-align: center;
    margin-bottom: 70px;
  }
  hr {
    margin-left: auto;
    margin-right: auto;
  }
  .about-img {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .about .about-content .about-img::before,
  .about .about-content .about-img::after {
    display: none;
  }
}
.contact {
  margin-top: 100px;
  background-color: #f6f6f6;
}
.contact-text {
  text-align: center;
  margin-top: 100px;
}
.contact-text h2 {
  font-weight: 800;
  font-size: 50px;
  color: var(--second-color);
  letter-spacing: -2.5px;
  margin-bottom: 20px;
}
.contact-text a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 800;
  font-size: 40px;
}
.contact-text .contact-social {
  margin-top: 20px;
}
.contact-text .contact-social i {
  margin-left: 10px;
}
.footer {
  margin-top: 100px;
  background-color: var(--second-color);
  padding: 25px;
  text-align: center;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.footer span {
  color: var(--main-color);
}
@media (max-width: 700px) {
  .contact-text h2 {
    font-size: 35px !important;
  }
  .special-header h1 {
    font-size: 85px;
  }
  .contact-text a {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .contact-text h2 {
    font-size: 25px !important;
  }
  .contact-text a {
    font-size: 20px;
  }
}
